Source: test001
Section: non-free/graphics
Priority: optional
Maintainer: Alex <windjammer07@gmail.com>
Build-Depends: debhelper (>=9), debhelper-compat (=9)
Standards-Version: 4.5.0

Package: test001
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Example package to demonstrate building debian sorce and binary packages